.aurora-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* To place it behind your content */
  pointer-events: none; /* Allows clicks to pass through to content below */
  background-color: black;
}

.aurora-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}